.cantoSuperiorDireito{
    min-width:1000px;
    min-width: 700px;
    grid-area:tela03;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.fotoDeFundo{
    background-image: url("../../../imagens/NOVOS-ELEMENTOS/03-ATENDIMENTO/PC-COMPLETO.png");
    background-size: cover;
    width:771px;
    height: 669px;
    margin-right: 100px;
}
.cantoSuperiorDireito h1 {
    color: var(--primaria);
    width: 260px;
    text-transform: uppercase;
    
}
.cantoSuperiorDireito span{
    color: var(--secundaria);
}
