.cantoInferiorDireito{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tvSemColapsar{
    width:1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fraseTv{
    text-transform: uppercase;
    width: auto;
    height: min-content;
    font-weight :700;
    font-size: 1.3em;
   
}
.fraseTv{
    color:var(--primaria);
   
}
.fraseTv > span {
    color: var(--secundaria);
}


.televisor{
    background-image: url("../../../imagens/NOVOS-ELEMENTOS/04-PORTFÓLIO/tv.png");
    background-size: cover;
    width: 700px;
    height:415px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botaoPlay{
    background-image: url("../../../imagens/NOVOS-ELEMENTOS/04-PORTFÓLIO/botão\ play.png");
    background-size: cover;
    width: 180px;
    height: 180px;
    align-self: center;
    transform: translate(-70px,-10px);
    border-radius: 50%;
    box-decoration-break: none;
    border: none;
    cursor:pointer;
    overflow: hidden;
} 

.botaoPlay:hover{
    background-color:rgb(0, 0, 0);
}
