.flip{
  display:none;
}
.emilyContainer{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    transform-style: preserve-3d;
    transition-duration: 2s;
    transform: rotate(-2deg);
 }
.Emily{
    width: 260px;
    height: 267px;
    background-image: url("../../../../imagens/05/FRAME_EMILY_FRENTE.png");
    background-size: cover;
    grid-area: emily;
    position:absolute;
    cursor:pointer;
    z-index: 6;
    backface-visibility: hidden;
    
}
.fundo{
    width: 255px;
    height: 262px;
    background-color: #4d0c5cf6;
    position:absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

.balao{
    width:72px;
    height:51px;
    background-image: url("../../../../imagens/05/rabisco_balao.png");
    background-size: cover;
    transform: translate(-20px, 53px) rotate(350deg);

}
.seta_curva{
    width:100px;
    height: 51px;
    background-image: url("../../../../imagens/05/seta_curva.png");
    background-size: cover;
    transform: translate(220px,0px);
    
} 
 