.Emily{
    width: min(300px, 700px);
    height: min(307px, 700px);
    background-image: url("../../../../imagens/05/FRAME_EMILY_FRENTE.png");
    background-size: cover;
    grid-area: emily;
    cursor:pointer;
    transform: translate(-50px,50px);
    position: relative;
    z-index: 6;
    transition-duration: 2s;
    
}
.fundo{
    width: 300px;
    height: 307px;
    position:absolute;
    background-color: #4D0C5C;
    transition-duration: 2s;
}

.balao{
    width:72px;
    height:51px;
    background-image: url("../../../../imagens/05/rabisco_balao.png");
    background-size: cover;
    transform: translate(-20px, 53px) rotate(350deg);

}
.seta_curva{
    width:72px;
    height: 37px;
    background-image: url("../../../../imagens/05/seta_curva.png");
    background-size: cover;
    transform: translate(250px,0px);
}

