.girar{
    position:relative;
    width: 300px;
    height: 300px;
    z-index: 1000;
    transform-style: preserve-3d;
    transition-duration: 2s;

}
.girando{
    position:relative;
    width: 300px;
    height: 300px;
    z-index: 1000;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition-duration: 2s;
}
.Emily{
    width: min(300px, 700px);
    height: min(307px, 700px);
    background-image: url("../../../../imagens/05/FRAME_EMILY_FRENTE.png");
    background-size: cover;
    grid-area: emily;
    cursor:pointer;
   /*  transform: translate(-50px,50px);*/
    position:absolute;
    z-index: 6;
    transition-duration: 2s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.fundo{
    width: 290px;
    height: 290px;
    position:absolute;
    background-color: #4d0c5c52;
    transition-duration: 2s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.balao{
    width:72px;
    height:51px;
    background-image: url("../../../../imagens/05/rabisco_balao.png");
    background-size: cover;
    transform: translate(-20px, 53px) rotate(350deg);

}
.seta_curva{
    width:100px;
    height: 51px;
    background-image: url("../../../../imagens/05/seta_curva.png");
    background-size: cover;
    transform: translate(250px,0px);
    
}

