.tamisFrente{
    background-size: cover;
    width: 320px;
    height: 314px;
    grid-area:tamis;
    z-index: 1;
    transform:translate(-35px,-240px);
    position:relative;
}
.tamisFundo{
    background-size: cover;
    width: 320px;
    height: 314px;
    grid-area:tamis;
    z-index: 1;
    transform:translate(-35px,-240px);
}
.tamis{
    background-image: url("../../../../imagens/05//FRAME-TAMIS.png");
    background-size: cover;
    width: 320px;
    height: 314px;
    grid-area:tamis;
    z-index: 1;
}
.tamisDescricao{
    background:black;
    background-size: cover;
    width: 320px;
    height: 314px;
    grid-area:tamis;
    position:absolute;
}

.tamiSeta{
    background-image: url("../../../../imagens/05/tami-rabisco.png");
    background-size:cover;
    width:150px;
    height: 44px;
   transform: translate(220px,60px) rotate(05deg);
    
}
.tamisNome{
    display:flex;
    flex-direction: column;
    grid-area:TamisNome;
    transform: translate(-70px,200px);
    
}
.tamisT{
    background-image: url("../../../../imagens/05/T-TAMIS.png");
    background-size: cover;
    height: 80px;
    width: 33px;
    cursor:pointer;
    
}
.tamisA{
    background-image: url("../../../../imagens/05/A-TAMIS.png");
    background-size: cover;
    height: 60px;
    width: 57px;
    cursor:pointer;
}
.tamisM{
    background-image: url("../../../../imagens/05/M-TAMIS.png");
    background-size: cover;
    height: 60px;
    width: 50px;
    cursor:pointer;
}
.tamisI{
    background-image: url("../../../../imagens/05/I-TAMIS.png");
    background-size: cover;
    height: 70px;
    width: 35px;
    cursor:pointer;
}
.tamisS{
    background-image: url("../../../../imagens/05/S-TAMIS.png");
    background-size: cover;
    height: 80px;
    width: 55px;
    cursor:pointer;
}
