.cantoInferiorEsquerdo{
    width: 100vw;
    height: 100vh;
    grid-area:tela07;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .giz{
    background-image: url("../../../imagens/06/GizDeCera.png");
    position:absolute;
    width:527px;
    height:295px;
    background-size: cover;
    transform: translate(-500px,150px)rotate(345deg);
    z-index: 1000;
} */
.criatividade{
    width: 1548px;
    height: 767px;
    background-image: url("../../../imagens/NOVOS-ELEMENTOS/05-CRIATIVIDADE/Criatividade.png");
    align-items: center;
    justify-content: center;
    display: flex;
}
@media screen and (max-width: 1024px){
    .criatividade{
        width: 1548px;
        height: 767px;
    }
}
    

.drawCanvas{
    border-radius:50px; 
    border:10px solid transparent; 
   -webkit-mask:
       linear-gradient(0 0 0) padding-box, 
       linear-gradient(0 0 0);
       mask:border-box;
    -webkit-mask-composite: xor; 
            mask-composite: exclude;
}

.selecionarCores{
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
}
.desenhar{
    width:50px;
    border:none;
    background:transparent;
    cursor:pointer;
}
.vermelho{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #F0523C;
    cursor:pointer;
}
.amarelo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #F8A74E;
    cursor:pointer;
}
.verde{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #64885B;
    cursor:pointer;
}
.azul{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #1A93AA;
    cursor:pointer;
}
.roxo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #B17C95;
    cursor:pointer;
}
.salvarDesenho{
    width:80px;
    height:96px;
    background-image: url("../../../imagens/06/ARQUIVO-ENVIE.png");
    background-size: cover; 
    border:none; 
    cursor:pointer;  
}