.cantoInferiorEsquerdo{
    width: 100vw;
    height: 100vh;
    grid-area:tela07;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .giz{
    background-image: url("../../../imagens/06/GizDeCera.png");
    position:absolute;
    width:527px;
    height:295px;
    background-size: cover;
    transform: translate(-500px,150px)rotate(345deg);
    z-index: 1000;
} */
.criatividade{
    width: 1150px;
    height: 567px;
    /* background-image: url("../../../imagens/NOVOS-ELEMENTOS/05-CRIATIVIDADE/Criatividade.png");
    background-size: cover; */
    border-radius:50px; 
    border:10px solid transparent; 
    background:linear-gradient(90deg,var(--terciaria),var(--secundaria),var(--primaria)) border-box; /*3*/
    align-items: center;
    justify-content: center;
    display: flex;
    z-index:0;

}

.drawCanvas{
    border-radius:50px; 
}

.selecionarCores{
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
}
.desenhar{
    width:50px;
    border:none;
    background:transparent;
    cursor:pointer;
}
.vermelho{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #F0523C;
    cursor:pointer;
}
.amarelo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #F8A74E;
    cursor:pointer;
}
.verde{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #64885B;
    cursor:pointer;
}
.azul{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #1A93AA;
    cursor:pointer;
}
.roxo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #B17C95;
    cursor:pointer;
}
.erase{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #ffffff;
    cursor:pointer;
}
.salvarDesenho{
    width:60px;
    height:70px;
    background-image: url("../../../imagens/06/ARQUIVO-ENVIE.png");
    background-size: cover; 
    border:none; 
    cursor:pointer;  
}