.cantoInferiorEsquerdo{
    width: 100vw;
    height: 100vh;
    grid-area:tela07;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desenhoArea{
    width: 80vw;
    height: 80vh;
    border-radius:50px; 
    border:10px solid transparent; 
    background:linear-gradient(90deg,var(--terciaria),var(--secundaria),var(--primaria)) border-box; /*3*/
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
       mask:border-box;
    -webkit-mask-composite: xor; 
            mask-composite: exclude; 
  
}

.selecionarCores{
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vermelho{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #F0523C;
}
.amarelo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #F8A74E;
}
.verde{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #64885B;
}
.azul{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #1A93AA;
}
.roxo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: #B17C95;
}
.salvarDesenho{
    width:100px;
    height:120px;
    background-image: url("../../../imagens/06/ARQUIVO-ENVIE.png");
    background-size: cover; 
    border:none;   
}