
.meio{
    width:100vw;
    height: 100vh;
    grid-area:tela05;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotoPrincipal{
    background-image: url("../../../imagens/02/FOTO-DUOMI.png");
    background-size: cover;
    width: 300px;
    height: 300px;
    justify-content: center;
    display: flex;
}
.navBarra{
    width: 100vw;
    display: flex;
    justify-content: center;
}