:root{
    --dimensao: 50px;
}
*{
    margin: 0;
    padding: 0;
}
body {
    width:300vw;
    height:300vh;
} 
.back-ground{
    width: 300vw;
    height: 300vh;
    background-image: url('../imagens/01/FUNDO-COMPLETO.png');
    background-size: 300vw 300vh;
    background-repeat: no-repeat;
}
 
.back-ground{
    display: grid;
    grid-template-columns: repeat(3,100vw);
    grid-template-rows: repeat(3,100vh);

    

}

.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(6, .1fr);
    grid-template-rows: repeat(4,.1fr);
}
.Emily{
    width: 400px;
    height: 410px;
    background-image: url("../imagens/05/FRAME_EMILY_FRENTE.png");
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 1;

}
.emilyNome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.emilyE{
    background-image: url("../imagens/05/E_EMILY.png");
    height: 114px;
    width:91px;
}
.emilyM{
    background-image: url("../imagens/05/M-EMILY.png");
    height: 115px;
    width:129px;
}
.emilyI{
    background-image: url("../imagens/05/I-EMILY.png");
    height: 118px;
    width:99px;
}
.emilyL{
    background-image: url("../imagens/05/L-EMILY.png");
    height: 134px;
    width:100px;
}
.emilyY{
    background-image: url("../imagens/05/Y-EMILY.png");
    height: 130px;
    width:97px;
}
.fotoDupla{
    background-image: url("../imagens/05/DUOMI.png");
    background-size: cover;
    width:492px;
    height:400px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}
.imagemTexto{
    background-image: url("../imagens/05/FRASE.png");
    background-size: cover;
    width: 400px;
    height: 57px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}
.tamis{
    background-image: url("../imagens/05//FRAME-TAMIS.png");
    background-size: cover;
    width: 400px;
    height: 394px;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.tamisNome{
    display:flex;
    flex-direction: column;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.tamisT{
    background-image: url("../imagens/05/T-TAMIS.png");
    height: 148px;
    width: 63px;
}
.tamisA{
    background-image: url("../imagens/05/A-TAMIS.png");
    height: 115px;
    width: 111px;
}
.tamisM{
    background-image: url("../imagens/05/M-TAMIS.png");
    height:     110px;
    width: 97px;
}
.tamisI{
    background-image: url("../imagens/05/I-TAMIS.png");
    height: 132px;
    width: 67px;
}
.tamisS{
    background-image: url("../imagens/05/S-TAMIS.png");
    height: 134px;
    width: 94px;
}
.cantoInferiorEsquerdo{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desenhoArea{
    width: 80vw;
    height: 65vh;
    border: 2px solid black;
    border-radius: 40px;
    background: white;
    margin: 0;

}

.selecionarCores{
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vermelho{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: red;
}
.amarelo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: yellow;
}
.verde{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: green;
}
.azul{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: blue;
}
.roxo{
    width:var(--dimensao);
    height:var(--dimensao);
    border-radius: 50%;
    background-color: purple;
}
.salvarDesenho{
    width:100px;
    height:120px;
     background-image: url("../imagens/06/ARQUIVO-ENVIE.png");
     background-size: cover;    
}
.meio{
    width:100vw;
    height: 100vh;
    border: 2px solid black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotoPrincipal{
    background-image: url("../imagens/02/FOTO-DUOMI.png");
    background-size: cover;
    width: 300px;
    height: 300px;
}
.navBarra{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cantoSuperiorDireito{
    width:100vw;
    height:150vh;
    border:2px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 1;
    background-image: url("../imagens/03/PC-ANTIGO.png");
    background-size: cover;
}

.cantoInferiorDireito{
    width:150vw;
    height:100vh;
    border:2px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 4;
    background-image: url("../imagens/04/TV-COMPLETA.png");
    background-size: cover;
}