:root{
    --dimensao: 50px;
    --primaria: #4D0C5C;
    --secundaria: #B01446;
    --terciaria:#FFB113;
}
*{
    margin: 0;
    padding: 0;
    font-family:"raleway"
}
body {
    cursor:grab;
   
} 
.back-ground{
    min-width: 2700px;
    min-height: 2500px;
    background-image: url('../imagens/01/FUNDO-COMPLETO.png');
    background-size: cover;
    background-repeat: no-repeat;
}
 
.back-ground{
    display: grid;
    grid-template-areas: 
    "tela01 tela02 tela03"
    "tela04 tela05 tela06"
    "tela07 tela08 tela09";
    grid-template-columns: repeat(3,1500px);
    grid-template-rows: repeat(3,1200px);
}



