:root{
    --dimensao: 50px;
}
*{
    margin: 0;
    padding: 0;
}
body {
    width:300vw;
    height:300vh;
    cursor:grab;
} 
.back-ground{
    width: 300vw;
    height: 300vh;
    background-image: url('../imagens/01/FUNDO-COMPLETO.png');
    background-size: 300vw 300vh;
    background-repeat: no-repeat;
    pointer-events: touch;
}
 
.back-ground{
    display: grid;
    grid-template-areas: 
    "tela01 tela02 tela03"
    "tela04 tela05 tela06"
    "tela07 tela08 tela09";
    grid-template-columns: repeat(3,100vw);
    grid-template-rows: repeat(3,100vh);
}


