.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    grid-area: tela01;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.Estatico{
    width: min-content;
    height:min-content;
    display: grid;
    border: 1px solid black;
    padding-top: 500px;
    
}
.grid{
   grid-template-areas: 
   "emily emily emilyn emilyn emilyn ."
   "emily emily texto texto texto TamisNome"
   "fotodupla fotodupla tamis tamis tamis TamisNome" 
   "fotodupla fotodupla tamis tamis tamis TamisNome";
   grid-template-columns: 150px 200px 150px 150px 150px 150px;
   grid-template-rows: 150px 150px 150px 150px 150px 150px;
}



.Texto h1 span:first-child{
    color: var(--secundaria);
} 
.Texto h1 span:last-child{
    color: var(--terciaria);
}  
.emilyNome{
    padding-top: 30px;
    display: flex;
    grid-area: emilyn;
    /* transform: translate(-55px); */
    background-image: url('../../../imagens/NOVOS-ELEMENTOS/01-QUEM-SOMOS/NOME\ EMILY.png');
    background-size:cover;
    width:330px;
    height: 48px;
    justify-self: center;
    
}
.Texto{
    grid-area: texto;
    color: var(--primaria);
    width: 430px;
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-self: center;
}

.Texto > h1{
    align-content: end;
}