.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    grid-area: tela01;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Estatico{
    width: min-content;
    height:min-content;
    display: grid;
    padding-top: 500px;
    
}
.grid{
   grid-template-areas: 
   "emily emily emilyn emilyn emilyn ."
   "emily emily texto texto texto TamisNome"
   "fotodupla fotodupla tamis tamis tamis TamisNome" 
   "fotodupla fotodupla tamis tamis tamis TamisNome";
   grid-template-columns: 150px 200px 150px 150px 150px 150px;
   grid-template-rows: 150px 150px 150px 150px 150px 150px;
}



