@media (max-width: 800px) {
  .grid{
    display: flex;
  }

    .Emily{
      width:100px;
      height:96px;
      margin-left:20px;
    }
    .emilyContainer{
     margin:0;
     justify-content: flex-start;
    }
    .emilyNome{
      width:175px;
      height:41.54px;
      padding:0;
      background-size: cover;
    }
    .seta_curva{
      width: 69px;
      height: 28px;
      transform: translate(94px,-35px);
    }
    .balao{
      width:39px;
      height:32px;
    }
 }