.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    grid-area: tela01;
}
.Estatico{
    width: 1000px;
    height:1000px;
    display: grid;
    
}
.grid{
   grid-template-areas: 
   "emily emily emily emilyn emilyn emilyn emilyn emilyn emilyn"
   "emily emily emily texto texto texto texto texto texto"
   "fotodupla fotodupla fotodupla tamis tamis tamis tamis tamis tamis"
   "fotodupla fotodupla fotodupla tamis tamis tamis tamis tamis tamis "
   ;
   grid-template-columns: repeat(9,calc(100%/9));
}

.emilyNome{
    padding-top: 30px;
    display: flex;
    grid-area: emilyn;
    
}
.emilyE{
    background-image: url("../../../imagens/05/E_EMILY.png");
    background-size: cover;
    height: 80px;
    width:71px;
    cursor:pointer;
}
.emilyM{
    background-image: url("../../../imagens/05/M-EMILY.png");
    background-size: cover;
    height: 85px;
    width:90px;
    cursor:pointer;
}
.emilyI{
    background-image: url("../../../imagens/05/I-EMILY.png");
    background-size: cover;
    height: 85px;
    width:70px;
    cursor:pointer;
}
.emilyL{
    background-image: url("../../../imagens/05/L-EMILY.png");
    background-size: cover;
    height: 100px;
    width:74px;
    cursor:pointer;
}
.emilyY{
    background-image: url("../../../imagens/05/Y-EMILY.png");
    background-size: cover;
    height: 100px;
    width:67px;
     cursor:pointer;
}
.fotoDupla{
    background-image: url("../../../imagens/05/DUOMI.png");
    background-size: cover;
    width:360px;
    height:292px;
    grid-area: fotodupla;
    transform:  rotate(2deg);
    
}
.Texto{
     grid-area: texto;
     color: var(--primaria);
     width: 350px;
     text-align: center;
     /* transform:translate(-280px,-100px); */
     font-size: 0.75em;
}
.Texto h1 span:first-child{
    color: var(--secundaria);
} 
.Texto h1 span:last-child{
    color: var(--terciaria);
} 
.tamis{
    background-image: url("../../../imagens/05//FRAME-TAMIS.png");
    background-size: cover;
    width: 320px;
    height: 314px;
    grid-area:tamis;
    z-index: 1;
}

.tamiSeta{
    background-image: url("../../../imagens/05/tami-rabisco.png");
    background-size:cover;
    width:228px;
    height: 67px;
   transform: translate(300px,30px);
    
}
.tamisNome{
    display:flex;
    flex-direction: column;
    grid-area:TamisNome;
}
.tamisT{
    background-image: url("../../../imagens/05/T-TAMIS.png");
    height: 148px;
    width: 63px;
    cursor:pointer;
}
.tamisA{
    background-image: url("../../../imagens/05/A-TAMIS.png");
    height: 115px;
    width: 111px;
    cursor:pointer;
}
.tamisM{
    background-image: url("../../../imagens/05/M-TAMIS.png");
    height:     110px;
    width: 97px;
    cursor:pointer;
}
.tamisI{
    background-image: url("../../../imagens/05/I-TAMIS.png");
    height: 132px;
    width: 67px;
     cursor:pointer;
}
.tamisS{
    background-image: url("../../../imagens/05/S-TAMIS.png");
    height: 134px;
    width: 94px;
    cursor:pointer;
}
