.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-area: tela01;
}
.grid{
   grid-template-areas: 
   "emily emilyn ."
   "e f f"
   "d t tn";
   grid-template-columns: 1fr 1fr 1fr;
}
.Emily{
    width: 400px;
    height: 410px;
    background-image: url("../../../imagens/05/FRAME_EMILY_FRENTE.png");
    background-size: cover;
    grid-area: emily;
    cursor:pointer;
    transform: translate(-50px,50px);
    position: relative;
    z-index: 6;
}
.adesivo{
    display: flex;
    background-image: url("../../../imagens/05/FITA.png");
    background-size: cover;
    width: 264px;
    height: 100px;
    transform: translate(53px) rotate(354deg);
}
.balao{
    width:140px;
    height:101px;
    background-image: url("../../../imagens/05/rabisco_balao.png");
    background-size: cover;
    transform: translate(0px, 50px) rotate(350deg);

}
.seta_curva{
    width:140px;
    height: 73px;
    background-image: url("../../../imagens/05/seta_curva.png");
    background-size: cover;
    transform: translate(350px,-80px);
}
.plantinha{
    width:218px;
    height: 300px;
    background-image: url("../../../imagens/05/plantinha.png");
    background-size: cover;
    transform: translate(-900px,160px) rotate(10deg);
    position: relative;
    z-index: 1;
    
}
.emilyNome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: emilyn;
    
}
.emilyE{
    background-image: url("../../../imagens/05/E_EMILY.png");
    height: 114px;
    width:91px;
    cursor:pointer;
}
.emilyM{
    background-image: url("../../../imagens/05/M-EMILY.png");
    height: 115px;
    width:129px;
    cursor:pointer;
}
.emilyI{
    background-image: url("../../../imagens/05/I-EMILY.png");
    height: 118px;
    width:99px;
    cursor:pointer;
}
.emilyL{
    background-image: url("../../../imagens/05/L-EMILY.png");
    height: 134px;
    width:100px;
    cursor:pointer;
}
.emilyY{
    background-image: url("../../../imagens/05/Y-EMILY.png");
    height: 130px;
    width:97px;
     cursor:pointer;
}
.fotoDupla{
    background-image: url("../../../imagens/05/DUOMI.png");
    background-size: cover;
    width:492px;
    height:400px;
    grid-area: d;
    transform: translate(39px,10px) rotate(2deg);
    
}
.imagemTexto{
    background-image: url("../../../imagens/05/FRASE.png");
    background-size: cover;
    width: 400px;
    height: 57px;
    grid-area: f;
   
}
.tamis{
    background-image: url("../../../imagens/05//FRAME-TAMIS.png");
    background-size: cover;
    width: 400px;
    height: 394px;
    grid-area:t;
    z-index: 1;
}
.adesivo01{
    display: flex;
    background-image: url("../../../imagens/05/FITA.png");
    background-size: cover;
    width: 148px;
    height: 47px;
    transform: translate(-13px,12px) rotate(335deg);
}
.adesivo02{
    display: flex;
    background-image: url("../../../imagens/05/FITA.png");
    background-size: cover;
    width: 100px;
    height: 33px;
    transform: translate(-40px,80px) rotate(37deg);
}
.tamiSeta{
    background-image: url("../../../imagens/05/tami-rabisco.png");
    background-size:cover;
    width:228px;
    height: 67px;
   transform: translate(300px,3h0px);
    
}
.tamisNome{
    display:flex;
    flex-direction: column;
    grid-area:tn;
}
.tamisT{
    background-image: url("../../../imagens/05/T-TAMIS.png");
    height: 148px;
    width: 63px;
    cursor:pointer;
}
.tamisA{
    background-image: url("../../../imagens/05/A-TAMIS.png");
    height: 115px;
    width: 111px;
    cursor:pointer;
}
.tamisM{
    background-image: url("../../../imagens/05/M-TAMIS.png");
    height:     110px;
    width: 97px;
    cursor:pointer;
}
.tamisI{
    background-image: url("../../../imagens/05/I-TAMIS.png");
    height: 132px;
    width: 67px;
     cursor:pointer;
}
.tamisS{
    background-image: url("../../../imagens/05/S-TAMIS.png");
    height: 134px;
    width: 94px;
    cursor:pointer;
}
