.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    grid-area: tela01;
}
.Estatico{
    width: 1000px;
    height:1000px;
    display: grid;
    
}
.grid{
   grid-template-areas: 
   "emily emily emily emily emily emilyn emilyn emilyn emilyn"
   "emily emily emily emily emily emilyn emilyn emilyn emilyn"
  /*  "d t tn . . . . . . ."
   "e f f . . . . . . ."
   "e f f . . . . . . ."
   "d t tn . . . . . . ."; */;
   grid-template-columns: repeat(9,calc(100%/9));
}

.emilyNome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: emilyn;
    
}
.emilyE{
    background-image: url("../../../imagens/05/E_EMILY.png");
    height: 114px;
    width:91px;
    cursor:pointer;
}
.emilyM{
    background-image: url("../../../imagens/05/M-EMILY.png");
    height: 115px;
    width:129px;
    cursor:pointer;
}
.emilyI{
    background-image: url("../../../imagens/05/I-EMILY.png");
    height: 118px;
    width:99px;
    cursor:pointer;
}
.emilyL{
    background-image: url("../../../imagens/05/L-EMILY.png");
    height: 134px;
    width:100px;
    cursor:pointer;
}
.emilyY{
    background-image: url("../../../imagens/05/Y-EMILY.png");
    height: 130px;
    width:97px;
     cursor:pointer;
}
.fotoDupla{
    background-image: url("../../../imagens/05/DUOMI.png");
    background-size: cover;
    width:492px;
    height:400px;
    grid-area: d;
    transform: translate(39px,10px) rotate(2deg);
    
}
.Texto{
     grid-area: f;
     color: var(--primaria);
     width: 350px;
     text-align: center;
     transform:translate(-280px,-100px);
     font-size: 0.75em;
}
.Texto h1 span:first-child{
    color: var(--secundaria);
} 
.Texto h1 span:last-child{
    color: var(--terciaria);
} 
.tamis{
    background-image: url("../../../imagens/05//FRAME-TAMIS.png");
    background-size: cover;
    width: 400px;
    height: 394px;
    grid-area:t;
    z-index: 1;
}
.adesivo01{
    display: flex;
    background-image: url("../../../imagens/05/FITA.png");
    background-size: cover;
    width: 148px;
    height: 47px;
    transform: translate(-13px,12px) rotate(335deg);
}
.adesivo02{
    display: flex;
    background-image: url("../../../imagens/05/FITA.png");
    background-size: cover;
    width: 100px;
    height: 33px;
    transform: translate(-40px,80px) rotate(37deg);
}
.tamiSeta{
    background-image: url("../../../imagens/05/tami-rabisco.png");
    background-size:cover;
    width:228px;
    height: 67px;
   transform: translate(300px,30px);
    
}
.tamisNome{
    display:flex;
    flex-direction: column;
    grid-area:tn;
}
.tamisT{
    background-image: url("../../../imagens/05/T-TAMIS.png");
    height: 148px;
    width: 63px;
    cursor:pointer;
}
.tamisA{
    background-image: url("../../../imagens/05/A-TAMIS.png");
    height: 115px;
    width: 111px;
    cursor:pointer;
}
.tamisM{
    background-image: url("../../../imagens/05/M-TAMIS.png");
    height:     110px;
    width: 97px;
    cursor:pointer;
}
.tamisI{
    background-image: url("../../../imagens/05/I-TAMIS.png");
    height: 132px;
    width: 67px;
     cursor:pointer;
}
.tamisS{
    background-image: url("../../../imagens/05/S-TAMIS.png");
    height: 134px;
    width: 94px;
    cursor:pointer;
}
