.cantoSuperiorEsquerdo{
    width:100vw;
    height: 100vh;
    grid-area: tela01;
}
.Estatico{
    width: 1000px;
    height:1000px;
    display: grid;
    
}
.grid{
   grid-template-areas: 
   "emily emily emilyn emilyn emilyn ."
   "emily emily texto texto texto TamisNome"
   "fotodupla fotodupla tamis tamis tamis TamisNome" 
   "fotodupla fotodupla tamis tamis tamis TamisNome" 
   
   
   ;
   grid-template-columns: 150px 200px 150px 150px 150px 150px;
   grid-template-rows: 150px 150px 150px 150px 150px 150px;
}



.Texto h1 span:first-child{
    color: var(--secundaria);
} 
.Texto h1 span:last-child{
    color: var(--terciaria);
}  
.emilyNome{
    padding-top: 30px;
    display: flex;
    grid-area: emilyn;
    /* transform: translate(-55px); */
    
}
.emilyE{
    background-image: url("../../../imagens/05/E_EMILY.png");
    background-size: cover;
    height: 80px;
    width:71px;
    cursor:pointer;
}
.emilyM{
    background-image: url("../../../imagens/05/M-EMILY.png");
    background-size: cover;
    height: 85px;
    width:90px;
    cursor:pointer;
    margin-left:10px;
}
.emilyI{
    background-image: url("../../../imagens/05/I-EMILY.png");
    background-size: cover;
    height: 85px;
    width:70px;
    cursor:pointer;
    margin-left:10px;
}
.emilyL{
    background-image: url("../../../imagens/05/L-EMILY.png");
    background-size: cover;
    height: 100px;
    width:74px;
    cursor:pointer;
    margin-left:10px;
}
.emilyY{
    background-image: url("../../../imagens/05/Y-EMILY.png");
    background-size: cover;
    height: 100px;
    width:67px;
    cursor:pointer;
    margin-left:10px;
}
.Texto{
    grid-area: texto;
    color: var(--primaria);
    width: 430px;
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-self: center;
}

.Texto > h1{
    align-content: end;
}